@model IEnumerable<ERP.Web.Models.Database.NV_LICH_LAM_VIEC>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/assets/css/core.css" rel="stylesheet" />
<link href="~/Content/assets/css/colors.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/LichLamViecNhanVien.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Controllers/LichLamViecNhanVienCtrl.js"></script>


<div ng-app="myApp" ng-controller="LichLamViecNhanVienCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
    <div class="content">

       <div class="col-md-12 collapse navbar-collapse table-responsive content-group" style="box-shadow: 3px 3px 3px #ddd;margin-left: 30px; padding-bottom:20px">
       <!-- HIDDING CONTANT2 -->
           <table style="border-color: #ddd" border="1" class="table table-bordered table-striped table-hover">
                 <thead class="bg-primary-300">
                       <tr>
                            <th>fggrfg</th>
                           <th>fggrfg</th>
                                                    
                       </tr>
                 </thead>
                 <tbody>
                      <tr>
                           <td>
                                ghfdf
                           </td>
                          <td>
                              ghfdf
                          </td>
                      </tr>
                 </tbody>
            </table>
        </div>
     </div>
</div>






