
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/self-writing/css/BaoGia/baogiacss.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Controllers/BaoGiaCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/BaoGiaService.js"></script>
<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<script src="~/Content/download/pnotify.custom.min.js"></script>
<style>
    #themmoiinput input{
        font-size: 11px;
    }
    #themmoiinput thead tr td{
        border: 0px solid #d2d6de !important;
        vertical-align: middle;
         border-radius: 0px !important; 
    }
    input{
        border-radius: 0px !important; 
        border: 0px !important;
    }
    .select{
            border: 0px solid #00BFFF !important;
            border-radius: 0px !important;
    }
   
</style>

<div ng-app="myApp" ng-controller="baogiaCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-white" style="margin-bottom: 10px;">

                <div class="panel-body" style="padding: 5px !important; margin-bottom: 10px;">
                    <form id="myForm">
                        
                        <div class="col-md-12" style="margin-bottom: -10px;">
                            <!--Thông tin về đơn hàng dự kiến-->
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                        <h6 class="panel-title">Thông tin đơn dự kiến<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                    </div>
                                    <div class="panel-body" style="font-size:12px;" ng-repeat="dondukien in list_dondukien">

                                        <label class="control-label">Đơn dự kiến: {{dondukien.MA_DU_KIEN}} </label><br />
                                        <label class="control-label">Sale báo giá: {{dondukien.HO_VA_TEN}} </label><br />
                                        <div style="display:none">
                                            {{dondukien.SALES_QUAN_LY}}
                                            {{dondukien.MA_KHACH_HANG}}
                                            {{dondukien.ID_LIEN_HE}}
                                        </div>
                                        <label class="control-label">Khách hàng: {{dondukien.TEN_CONG_TY}} </label><br />
                                        <label class="control-label">Tên Liên hệ: {{dondukien.NGUOI_LIEN_HE}} </label>
                                    </div>
                                </div>
                            </div>
                            <!--End Thông tin về đơn hàng dự kiến-->

                            <!--danh sách đơn giá-->
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                        <h6 class="panel-title">Danh sách báo giá <a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                    </div>
                                    <div class="panel-body" style="font-size:12px; margin-top: -12px;">
                                        <div class="col-md-12 content-group">
                                            <div class="table-responsive">

                                                <table border="1">
                                                    <thead>
                                                        <tr class="bg-primary-300" style="background:#64B5F6; color:white;">
                                                            <th style="width:2%"></th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Số báo giá</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Ngày báo giá</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Đã duyệt</th>
                                                            <th style="width:10%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Người duyệt</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Đã trúng</th>
                                                            <th style="width:5%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Đã hủy</th>
                                                            <th style="width:20%; padding-top: 5px;padding-bottom: 2px;" class="text-center">Lý do hủy</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="baogia in list_baogiatheodukien">
                                                            <td class="text-center">
                                                                <div>
                                                                    <input type="checkbox" ng-model="addbaogia">
                                                                    <div ng-if="addbaogia">
                                                                        <label ng-init="thembaogia(baogia)"></label>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                {{baogia.SO_BAO_GIA}}
                                                                <p class="{{baogia.SO_BAO_GIA}}-phivanchuyen" style="display:none">{{baogia.PHI_VAN_CHUYEN}}</p>
                                                                <p class="{{baogia.SO_BAO_GIA}}-chiphixuly" style="display:none">{{baogia.CHI_PHI_XU_LY_HOA_DON}}</p>
                                                                <p class="{{baogia.SO_BAO_GIA}}-thuesuatgtgt" style="display:none">{{baogia.THUE_SUAT_GTGT}}</p>
                                                            </td>
                                                            <td class="text-center">{{baogia.NGAY_BAO_GIA | date: 'dd/MM/yyyy'}}</td>
                                                            <td class="text-center">
                                                                <div>
                                                                    <input readonly type="checkbox" ng-model="item.DA_DUYET" />
                                                                </div>
                                                            </td>
                                                            <td class="text-center">{{baogia.NGUOI_DUYET}}</td>
                                                            <td class="text-center"><input readonly type="checkbox" ng-model="item.DA_TRUNG" /></td>
                                                            <td class="text-center"><input readonly type="checkbox" ng-model="item.DA_HUY" /></td>
                                                            <td style="width:20%; padding-left: 5px;">{{baogia.LY_DOHUY}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End danh sách đơn giá-->
                        </div>
                       
                        <div class="col-md-12" style="text-align: right;margin-bottom: 20px;">
                            <button ng-click="CreateNewQuotation()" class="btn btn-default">Thêm báo giá mới</button>
                        </div>

                        <!--Thông tin chung-->
                        <div class="col-md-12">
                            <div class="panel panel-default" style="margin-bottom: 10px;">
                                <div class="panel-heading" style="padding-top:4px;font-family:'Times New Roman'; font-weight:bold; font-style:italic">
                                    <h6 class="panel-title">Thông tin chung Báo Giá<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                </div>
                                <div class="panel-body" style="padding: 5px !important; font-size:12px">
                                    <!--Thông tin - sửa -->
                                    <div class="form-horizontal savethongtin" ng-repeat="item in BangBaoGia">
                                        

                                        <!--Chi tiết báo giá của sửa-->
                                        <div class="col-md-12 content-group" style="padding-left: 5px; padding-right: 5px;">
                                            <div class="table-responsive">
                                                <table border='1'>
                                                    <thead>
                                                        <tr class="bg-primary-300" style="background:#64B5F6; color: white">
                                                            <td></td>
                                                            <td class="text-center" width="15%">Descriptions</td>
                                                            <td class="text-center" width="4%">Qty</td>
                                                            <td class="text-center" width="4%">Uom</td>
                                                            <td class="text-center" width="8%">U.Price</td>
                                                            <td class="text-center" width="8%">Total Amount(VND)</td>
                                                            <td class="text-center" width="8%">Dilivery Time</td>
                                                            <td class="text-center" width="10%">Đơn giá tính theo Price List</td>
                                                            <td class="text-center" width="10%">Đơn giá tính theo Giá Nhập</td>
                                                            <td class="text-center" width="9%">Giá báo đi net</td>
                                                            <td class="text-center" width="20%">Tính CM cho khách</td>
                                                            <td>Xóa</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in Detail.ListAdd">
                                                            <td>
                                                                <div>
                                                                    <input type="checkbox" ng-model="tachbg">
                                                                    <div ng-if="tachbg">
                                                                        <label ng-init="tachbaogia(item)"></label>
                                                                    </div>
                                                                </div>

                                                            </td>
                                                            <td>
                                                                <table border='1' style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.TEN_HANG" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.MA_HANG" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.HANG_SP" class="col-md-12 style-inline" style=" border:0px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input type="text" ng-model="item.MA_DIEU_CHINH" class="col-md-12 style-inline" style="border:0px">
                                                                        </td>
                                                                    </tr>

                                                                </table>

                                                            </td>





                                                            <td>
                                                                <input type="number" ng-model="item.SO_LUONG" class="style-inline" ng-change="kiemtra(item)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" ng-model="item.DVT" class="style-inline" />
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="number" ng-model="item.DON_GIA_MOI" class="style-inline" ng-change="kiemtra(item)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="number" ng-model="item.THANH_TIEN" class="style-inline" ng-change="kiemtra(item)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" ng-model="item.THOI_GIAN_GIAO_HANG" class="style-inline">
                                                            </td>





                                                            <td class="text-center">
                                                                <table style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            Giá:
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="item.GIA_LIST" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            CK:
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="item.CHIET_KHAU" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>




                                                            <td class="text-center">
                                                                <table style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                           <span class="col-md-12 style-inline">Giá:</span> 
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="item.DON_GIA_NHAP" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            LN:
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" ng-model="item.HE_SO_LOI_NHUAN" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td class="text-center"><input type="number" ng-model="item.DON_GIA_BAO_DI_NET" class="style-inline" ng-change="kiemtra(item)"></td>



                                                            <td>
                                                                <table border='1' style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td class="style-inline">
                                                                            %CM:
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            <input type="number" ng-model="item.CM" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            %Thuế:
                                                                        </td>
                                                                        <td class="style-inline">
                                                                            <input type="number" ng-model="item.THUE_TNDN" ng-init="item.THUE_TNDN=20.00" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Đơn giá mới:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="item.DON_GIA_MOI" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Tiền thuế TNDN:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="item.TIEN_THUE_TNDN" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan='2'>
                                                                            Khách nhận:
                                                                        </td>
                                                                        <td colspan='2'>
                                                                            <input type="number" ng-model="item.KHACH_NHAN_DUOC" class="col-md-12 style-inline" ng-change="kiemtra(item)">
                                                                        </td>
                                                                    </tr>
                                                                </table>


                                                            </td>
                                                            <td>
                                                                <div class="text-center">
                                                                    <center><i class="fa fa-minus-circle" style="color:red;" ng-click="Remove($index)" aria-hidden="true"></i></center>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan='13' style="height:20px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="13">
                                                                <table border='1' style="width:100%; height: 100%">
                                                                    <tr>
                                                                        <td>
                                                                            <label class="control-label">Phương thức thanh toán </label>
                                                                        </td>
                                                                        <td>
                                                                            <select class="form-control select" ng-model="item.PHUONG_THUC_THANH_TOAN" id="adddieukhoanthanhtoan"
                                                                                    data-ng-options="item as item for item in phuongthucttnew"></select>
                                                                        </td>
                                                                        <td>
                                                                            <label class="control-label">Phí vận chuyển </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" ng-model="item.PHI_VAN_CHUYEN" id="tienvanchuyen" ng-init="phivanchuyen=0.00" ng-change="kiemtra(item)" />
                                                                        </td>
                                                                        <td>
                                                                            <label class="control-label">Thuế suất GTGT (%) </label>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" class="form-control" ng-model="item.THUE_SUAT_GTGT" id="thue_suat_gtgt" ng-change="kiemtra(item)" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Hạn thanh toán </label></td>
                                                                        <td><input type="text" class="form-control" ng-model="item.HAN_THANH_TOAN" /></td>
                                                                        <td><label class="control-label">Hiệu lực báo giá </label></td>
                                                                        <td><input type="number" class="form-control" ng-model="item.HIEU_LUC_BAO_GIA" /></td>
                                                                        <td><label class="control-label">Điều khoản thanh toán </label></td>
                                                                        <td>
                                                                            <select class="form-control select" ng-model="item.DIEU_KHOAN_THANH_TOAN" id="adddieukhoanthanhtoan"
                                                                                    data-ng-options="item as item for item in dieukhoanttnew"></select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Tổng giá trị đơn hàng thực tế: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_thuc_te_edit">{{tong_gia_tri_thuc_te_edit | currency: ''}} vnd</span></td>
                                                                        <td><label class="control-label">Tổng giá trị đơn hàng theo phiếu xuất/hợp đồng : </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_theo_hop_dong_edit">{{tong_gia_tri_theo_hop_dong_edit | currency: ''}} vnd</span></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Tổng giá trị chênh lệch: </label></td>
                                                                        <td colspan='2'><span ng-model="gia_tri_chenh_lech_edit">{{gia_tri_chenh_lech_edit | currency: ''}} vnd</span></td>
                                                                        <td><label class="control-label">Tổng chi phí hóa đơn: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_chi_phi_hoa_don_edit">{{tong_chi_phi_hoa_don_edit | currency: ''}}</span> vnd</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td><label class="control-label">Thuế VAT : </label></td>
                                                                        <td colspan='2'><span ng-model="thue_vat_edit">{{thue_vat_edit | currency: ''}} vnd</span></td>
                                                                        <td><label class="control-label">Tổng giá trị thu của khách: </label></td>
                                                                        <td colspan='2'><span ng-model="tong_gia_tri_thu_cua_khach_edit">{{tong_gia_tri_thu_cua_khach_edit | currency: ''}} vnd</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td ><label class="col-md-12">Thực nhận của khách: </label></td>
                                                                        <td colspan='11'><span ng-model="tong_khach_nhan_edit">{{tong_khach_nhan_edit | currency: ''}} vnd</span></td>
                                                                    </tr>
                                                                </table>

                                                            </td>
                                                            <td colspan="9"></td>
                                                        </tr>

                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Thông tin - sửa -->



                                    <!--Thông tin thêm mới-->
                                    <div class="thongtinchungthemmoi" style="display:none">

                                        <!--Thông tin chi tiết thêm mới-->
                                        <div class="col-md-12 content-group" style="">
                                            <div class="table-responsive">
                                                <table class="table" id="themmoiinput" >
                                                    <thead>
                                                        <tr class="bg-primary-300" style="background:#64B5F6; color: white">
                                                            <td class="text-center" width="15%">Descriptions</td>
                                                            <td class="text-center" width="4%">Qty</td>
                                                            <td class="text-center" width="4%">Uom</td>
                                                            <td class="text-center" width="8%">U.Price</td>
                                                            <td class="text-left" width="8%">Total Amount(VND)</td>
                                                            <td class="text-left" width="8%">Dilivery Time</td>
                                                            <td class="text-left" width="8%">Note</td>
                                                            <td class="text-left" width="10%">Đơn giá tính theo Price List</td>
                                                            <td class="text-left" width="10%">Đơn giá tính theo Giá Nhập</td>
                                                            <td class="text-left" width="9%">Giá báo đi net</td>
                                                            <td class="text-left" width="20%">Tính CM cho khách</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="detail in Detail.ListNew">
                                                            <td>
                                                                <input type="text" ng-model="detail.ten_hang" class="col-md-12 style-inline"  style="margin-bottom: 8px;">
                                                                <input type="text" ng-model="detail.ma_hang" class="col-md-7 style-inline" style="margin-right: 5px;">
                                                                <input type="text" ng-model="detail.hang" class="col-md-4 style-inline">
                                                                <input type="text" ng-model="detail.ma_dieu_chinh" class="col-md-12 style-inline"">
                                                            </td>
                                                            <td>
                                                                <input type="number" ng-model="detail.so_luong" class="style-inline" ng-change="test(detail)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" ng-model="detail.dvt" class="col-md-4 style-inline">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="number" ng-model="detail.don_gia_ban" class="style-inline" ng-change="test(detail)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="number" ng-model="detail.thanh_tien" class="style-inline" ng-change="test(detail)">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" ng-model="detail.thoi_gian_giao_hang" class="style-inline">
                                                            </td>
                                                            <td class="text-center">
                                                                <input type="text" ng-model="detail.ghi_chu" class="style-inline">
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-12">
                                                                    <p class="col-md-5 style-inline"> Giá List: </p>
                                                                    <input type="number" ng-model="detail.gia_list" class="col-md-7 style-inline" ng-change="test(detail)">
                                                                  
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <p class="col-md-5 style-inline"> CK: </p>
                                                                    <input type="number" ng-model="detail.chiet_khau" class="col-md-7 style-inline" ng-change="test(detail)">
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-12">
                                                                    <p class="col-md-5 style-inline"> Giá Nhập: </p>
                                                                    <input type="number" ng-model="detail.gia_nhap" class="col-md-7 style-inline" ng-change="test(detail)">

                                                                </div>
                                                                <div class="col-md-12">
                                                                    <p class="col-md-5 style-inline"> LN: </p>
                                                                    <input type="number" ng-model="detail.he_so_loi_nhuan" class="col-md-7 style-inline" ng-change="test(detail)">
                                                                </div>
                                                            </td>
                                                            <td class="text-center"><input type="number" ng-model="detail.gia_bao_di_net" class="style-inline" ng-change="test(detail)"></td>
                                                            <td class="text-center">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <p class="col-md-6 style-inline" style="margin-right: -19px !important;">
                                                                            %CM: 
                                                                        </p>
                                                                            <input type="number" ng-model="detail.hoa_hong" class="col-md-6 style-inline" ng-change="test(detail)">
                                                                       
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="col-md-6 style-inline">
                                                                            %Thuế:
                                                                        </p>
                                                                            <input type="number" ng-model="detail.thue_tndn" ng-init="detail.thue_tndn=20.00" class="col-md-6 style-inline" ng-change="test(detail)">
                                                                      
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <p class="col-md-6 style-inline">
                                                                        Đơn giá mới:
                                                                    </p>
                                                                        <input type="number" ng-model="detail.don_gia_ban" class="col-md-6 style-inline" ng-change="test(detail)">
                                                                  
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <p class="col-md-6 style-inline">
                                                                        Tiền thuế TNDN:
                                                                    </p>
                                                                        <input type="number" ng-model="detail.tien_thue_tndn" class="col-md-6 style-inline" ng-change="test(detail)">
                                                                    
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <p class="col-md-6 style-inline">
                                                                        Khách nhận:
                                                                    </p>
                                                                        <input type="number" ng-model="detail.khach_nhan" class="col-md-6 style-inline" ng-change="test(detail)">
                                                                   
                                                                </div>
                                                                
                                                            </td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="13">
                                                                <!--Thông tin chung thêm mới-->
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-3">
                                                                                    <label class="control-label">Phương thức thanh toán </label>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <select class="form-control" ng-model="phuong_thuc_thanh_toan" id="adddieukhoanthanhtoan"
                                                                                            data-ng-options="item as item for item in phuongthucttnew"></select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-3">
                                                                                    <label class="control-label">Hạn thanh toán </label>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <input type="text" class="form-control" ng-model="han_thanh_toan" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-3">
                                                                                    <label class="control-label">Điều khoản thanh toán </label>
                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                    <select class="form-control" ng-model="dieu_khoan_thanh_toan" id="adddieukhoanthanhtoan"
                                                                                            data-ng-options="item as item for item in dieukhoanttnew"></select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-3">
                                                                                    <label class="control-label">Phí vận chuyển </label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="number" class="form-control" ng-model="phivanchuyen" id="tienvanchuyen" ng-init="phivanchuyen=0.00" ng-change="test(detail)" />
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <label class="control-label">Thuế suất GTGT (%) </label>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <input type="number" class="form-control" ng-model="thue_suat_gtgt" ng-init="thue_suat_gtgt=0.00" ng-change="test(detail)" />
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <!--Mã khách-->
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-3">
                                                                                    <label class="control-label">Hiệu lực báo giá </label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="number" class="form-control" ng-model="hieu_luc_bao_gia" />
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <!--End thông tin chung thêm mới-->       
                                                            </td>
                                                            <td colspan="9"></td>
                                                        </tr>
                                                        <tr>
                                                            <!--Kết quả-->
                                                            <td colspan="5">
                                                                <div class="col-md-12">
                                                                    <label class="col-md-6">Tổng giá trị đơn hàng thực tế: </label>
                                                                    <p class="col-md-6" style="text-align:left" ng-model="tong_gia_tri_thuc_te_new">{{tong_gia_tri_thuc_te_new | currency: ''}} vnd</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label class="col-md-6">Tổng giá trị đơn hàng theo phiếu xuất/hợp đồng : </label>
                                                                    <p class="col-md-6" style="text-align:left"><span ng-model="tong_gia_tri_theo_hop_dong_new">{{tong_gia_tri_theo_hop_dong_new | currency: ''}}</span> vnd</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label class="col-md-6">Tổng giá trị chênh lệch: </label>
                                                                    <p class="col-md-6" style="text-align:left"><span ng-model="gia_tri_chenh_lech_new">{{gia_tri_chenh_lech_new | currency: ''}}</span> vnd</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label class="col-md-6">Tổng chi phí hóa đơn: </label>
                                                                    <p class="col-md-6" style="text-align:left"><span ng-model="tong_chi_phi_hoa_don_new">{{tong_chi_phi_hoa_don_new | currency: ''}}</span> vnd</p>
                                                                </div>
                                                                
                                                            </td>
                                                            <!--Kết quả-->
                                                            <td colspan="5">
                                                                <div class="col-md-12">
                                                                    <label class="col-md-3">Thuế VAT : </label>
                                                                    <p class="col-md-6" style="text-align:left" ng-model="thue_vat_new">{{thue_vat_new | currency: ''}} vnd</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label class="col-md-3">Tổng giá trị thu của khách: </label>
                                                                    <p class="col-md-6" style="text-align:left" ng-model="tong_gia_tri_thu_cua_khach_new">{{tong_gia_tri_thu_cua_khach_new | currency: ''}} vnd</p>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <label class="col-md-3">Thực nhận của khách: </label>
                                                                    <p class="col-md-6" style="text-align:left" ng-model="tong_khach_nhan_new">{{tong_khach_nhan_new | currency: ''}} vnd</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                        <!--End thông tin chi tiết thêm mới-->

                                            
                                                       
                                       
                                    </div>
                                    <!--End Thông tin thêm mới-->
                                </div>
                            </div>
                        </div>
                        <!--End Thông tin chung-->
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-primary thongtinchungthemmoi" onclick="myFunction()" style="background: darkseagreen !important;color: white!important;"><i class="icon-floppy-disk"></i>Xóa trắng</button>
                            <button type="button" class="btn btn-primary thongtinchungthemmoi" ng-click="AddNew()" style="display:none;"><i class="icon-floppy-disk"></i>Thêm mới</button>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" ng-click="onSave()"><i class="icon-floppy-disk"></i>Lưu</button>
                            <a href="/" class="btn bg-orange-400" style="background: lightgreen; color: white;"><i class="icon-blocked"></i> Bỏ qua</a>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" ng-click="Split()"><i class="icon-floppy-disk"></i>Tách báo giá</button>
                            <button type="button" class="btn btn-primary savethongtin" style="display:none;" ng-click="Copy()"><i class="icon-floppy-disk"></i>Tạo báo giá mới từ báo giá hiện tại</button>
                        </div>
                    </form>                   
                </div>
                <!--Tìm Kiếm Hàng Hóa thêm mới-->
                <div class="thongtinchungthemmoi tab-pane fade in " style="border:1px solid #ddd; font-size:10px; font-family:'Times New Roman'">
                    <center>
                        <div id="quick-access" style="padding-bottom: 20px;padding-top: 20px; align-content:center">
                            <form class="form-inline quick-search-form" role="form" action="#">
                                <div class="form-group" style="width: 90%">
                                    <input type="text" style="height: 27px;width: 60%;  font-size:12px"  class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="search_text">

                                    <button type="button" style="height: 27px;border-radius: 5px;  font-size:12px" class="btn btn-info" ng-model="find" ng-click="FindProduct(search_text)">Find</button>
                                </div>
                            </form>
                        </div>
                    </center>



                    <div class="col-md-12 content-group" style="height: 27px; font-size:12px">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead>
                                    <tr class="bg-primary-300" style="background:#64B5F6; color:white">
                                        <th style="width:2%" class="text-center"></th>
                                        <th style="width:6%" class="text-center">Mã hàng</th>
                                        <th style="width:6%" class="text-center">Tên hàng</th>
                                        <th style="width:8%" class="text-center">Mã chuẩn</th>
                                        <th style="width:6%" class="text-center">Thông số</th>
                                        <th style="width:4%" class="text-center">Hãng</th>
                                        <th style="width:2%" class="text-center">ĐVT</th>
                                        <th style="width:6%" class="text-center">Giá List</th>
                                        <th style="width:5%" class="text-center">Discontinue</th>
                                        <th style="width:8%" class="text-center">Mã chuyển đổi</th>
                                        <th style="width:4%" class="text-center">Tồn HL</th>
                                        <th style="width:4%" class="text-center">Tồn ĐN</th>
                                        <th style="width:5%" class="text-center">Tồn HCM</th>
                                        <th style="width:4%" class="text-center">Tồn HP</th>
                                        <th style="width:5%" class="text-center">Đang giữ</th>
                                        <th style="width:5%" class="text-center">Ký gửi</th>
                                        <th style="width:5%" class="text-center">Tồn Hãng</th>
                                        <th style="width:9%" class="text-center">Thời gian cấp hàng (Hãng)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hanghoa in danhsachhanghoa">
                                        <td>
                                            <div>
                                                <input type="checkbox" ng-model="checkhanghoa">
                                                <div ng-if="checkhanghoa">
                                                    <label ng-init="check(hanghoa.MA_HANG, hanghoa.TEN_HANG, hanghoa.DVT, hanghoa.XUAT_XU, hanghoa.MA_NHOM_HANG, hanghoa.GIA_LIST,hanghoa.TON_HOPLONG)"></label>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.MA_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="hanghoa.TEN_HANG" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="hanghoa.MA_CHUAN" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="hanghoa.THONG_SO" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="hanghoa.MA_NHOM_HANG" class="form-control">
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.DVT" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.GIA_LIST" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="checkbox" ng-model="hanghoa.DISCONTINUE">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.MA_CHUYEN_DOI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_HOPLONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_DANANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_HCM" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_HAIPHONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.SL_DANG_GIU" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.SL_KY_GUI_DI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_TAI_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.THOI_GIAN_CAP_HANG" class="form-control">
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!--End tìm kiếm hàng hóa-->

                <!--Tìm Kiếm Hàng Hóa sửa-->
                <div class="savethongtin tab-pane fade in " style="border:1px solid #ddd">
                    <center>
                        <div id="quick-access" style="padding-bottom: 20px;padding-top: 20px; align-content:center">
                            <form class="form-inline quick-search-form" role="form" action="#">
                                <div class="form-group" style="width: 90%">
                                    <input type="text" style="height: 27px;width: 60%;  font-size:12px" class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="edit_text">

                                    <button type="button" style="height: 27px;border-radius: 5px;  font-size:12px" class="btn btn-info" ng-model="timkiem" ng-click="TimKiem(edit_text)">Tìm kiếm</button>
                                </div>
                            </form>
                        </div>
                    </center>



                    <div class="col-md-12 content-group" style="height: 27px; font-size:12px">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover ">
                                <thead>
                                    <tr class="bg-primary-300" style="background:#64B5F6; color:white">
                                        <th style="width:2%" class="text-center"></th>
                                        <th style="width:6%" class="text-center">Mã hàng</th>
                                        <th style="width:6%" class="text-center">Tên hàng</th>
                                        <th style="width:8%" class="text-center">Mã chuẩn</th>
                                        <th style="width:6%" class="text-center">Thông số</th>
                                        <th style="width:4%" class="text-center">Hãng</th>
                                        <th style="width:2%" class="text-center">ĐVT</th>
                                        <th style="width:6%" class="text-center">Giá List</th>
                                        <th style="width:5%" class="text-center">Discontinue</th>
                                        <th style="width:8%" class="text-center">Mã chuyển đổi</th>
                                        <th style="width:4%" class="text-center">Tồn HL</th>
                                        <th style="width:4%" class="text-center">Tồn ĐN</th>
                                        <th style="width:5%" class="text-center">Tồn HCM</th>
                                        <th style="width:4%" class="text-center">Tồn HP</th>
                                        <th style="width:5%" class="text-center">Đang giữ</th>
                                        <th style="width:5%" class="text-center">Ký gửi</th>
                                        <th style="width:5%" class="text-center">Tồn Hãng</th>
                                        <th style="width:9%" class="text-center">Thời gian cấp hàng (Hãng)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hanghoa in danhsachhanghoaluu">
                                          <td>
                                            <div>
                                                <input type="checkbox" ng-model="addtosave">
                                                <div ng-if="addtosave">
                                                    <label ng-init="newsave(hanghoa.MA_HANG, hanghoa.TEN_HANG, hanghoa.DVT, hanghoa.XUAT_XU, hanghoa.MA_NHOM_HANG, hanghoa.GIA_LIST,hanghoa.TON_HOPLONG)"></label>
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.MA_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="hanghoa.TEN_HANG" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="hanghoa.MA_CHUAN" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="hanghoa.THONG_SO" class="form-control">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" ng-model="hanghoa.MA_NHOM_HANG" class="form-control">
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.DVT" class="form-control">
                                            </div>
                                        </td>

                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.GIA_LIST" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="checkbox" ng-model="hanghoa.DISCONTINUE">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.MA_CHUYEN_DOI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_HOPLONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_DANANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_HCM" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_HAIPHONG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.SL_DANG_GIU" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.SL_KY_GUI_DI" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.TON_TAI_HANG" class="form-control">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" ng-model="hanghoa.THOI_GIAN_CAP_HANG" class="form-control">
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!--End tìm kiếm hàng hóa-->
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            document.getElementById("myForm").reset();
        }
    </script>
    <!-- /dashboard content -->

</div>