@model IEnumerable<ERP.Web.Models.Database.NV_LICH_LAM_VIEC>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/self-writing/css/LichLamViecNhanVien.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Controllers/LichLamViecNhanVienCtrl.js"></script>


<div ng-app="myApp" ng-controller="LichLamViecNhanVienCtrl">
    <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
    <div class="content">
        <!--Danh sách lịch làm việc-->
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <div class="panel-title">
                    <div style="float: left">Lịch Làm việc của nhân viên</div>
                    <div style="float: right">@Html.ActionLink("Tạo lịch mới", "Create")</div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">


                    <!-- Table expand row -->
                    <div class="collapse-custom">
                       
                        <!-- ROW 1 -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse" href="#collapseOne">
                                <ul class="nav navbar-nav" ng-repeat="item in DataPhongBan">
                                    <li class="one" ng-click="get_datanhanvienphongban(item.MA_PHONG_BAN)"><a>{{item.TEN_PHONG_BAN}}</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- HIDDING CONTANT -->
                        <div id="collapseOne" class="collapse" data-parent="bs-example-navbar-collapse-1">
                            <div class="panel-body">
                                <!-- LISTE-->
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-3 collapse navbar-collapse" data-toggle="collapse" href="#collapseTwo">
                                        <ul ng-repeat="item in DataNhanVienPhongBan">
                                            <li ng-click="get_datalichlamviec(item.USERNAME)"><a>{{item.HO_VA_TEN}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- HIDDING CONTANT2 -->
                        <div id="collapseTwo" class="collapse" data-parent="bs-example-navbar-collapse-1">
                            <div class="panel-body">
                                <!-- LISTE-->
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-3">
                                        <table class="table">
                                            <tr>
                                                <th>
                                                    Thực hiện
                                                </th>
                                                <th>
                                                    Tiêu đề công việc
                                                </th>
                                                <th>
                                                    Ngày thực hiện
                                                </th>
                                                <th>
                                                    Nội dung công việc
                                                </th>
                                                <th>
                                                    Địa điểm làm việc
                                                </th>
                                                <th>
                                                    Thời gian bắt đầu
                                                </th>
                                                <th>
                                                    Thời gian kết thúc
                                                </th>
                                                <th>
                                                    Trạng thái
                                                </th>
                                                <th>
                                                    Ghi chú
                                                </th>
                                                <th>
                                                    Hủy việc?
                                                </th>
                                                <th></th>
                                            </tr>

                                            <tr ng-repeat="kq in DataLichLamViec">
                                                <td>
                                                    {{kq.TEN_NGUOI_THUC_HIEN}}
                                                </td>
                                                <td>
                                                    {{kq.TIEU_DE_CONG_VIEC}}
                                                </td>
                                                <td>
                                                    {{kq.NGAY_THUC_HIEN}}
                                                </td>
                                                <td>
                                                    {{kq.NOI_DUNG_CONG_VIEC}}
                                                </td>
                                                <td>
                                                    {{kq.DIA_DIEM_LAM_VIEC}}
                                                </td>
                                                <td>
                                                    {{kq.THOI_GIAN_BAT_DAU}}
                                                </td>
                                                <td>
                                                    {{kq.THOI_GIAN_KET_THUC}}
                                                </td>
                                                <td>
                                                    {{kq.TRANG_THAI}}
                                                </td>
                                                <td>
                                                    {{kq.GHI_CHU}}
                                                </td>
                                                <td>
                                                    {{kq.HUY_CONG_VIEC}}
                                                </td>
                                                <td>
                                                    <a href="/LichLamViecNhanVien/Edit/{{item.ID}}">Sửa</a>
                                                    <a href="/LichLamViecNhanVien/Details/{{item.ID}}">Chi tiết</a>
                                                    <a href="/LichLamViecNhanVien/Delete/{{item.ID}}">Xóa</a>
                                                </td>
                                            </tr>


                                        </table>



                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--End Table Expand row-->

                </div>
            </div>
        </div>

    </div>
</div>

    










