<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/download/pnotify.custom.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Feedback.css" rel="stylesheet" />
<script src="~/Content/Scripts/moment.min.js"></script>
<script src="~/Content/assets/js/plugins/notifications/pnotify.min.js"></script>
<link href="~/Content/self-writing/css/MetroUI.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Metro UI.js"></script>
<script src="~/Content/self-writing/js/Controllers/FeedBack/FeedBackCtrl.js"></script>
<div class="container dynamicTile">
    <div class="row ">
        <div class="col-sm-2 col-xs-4">
            <div id="tile1" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="http://calendar.google.com" class="tile bg-indigo fg-white" data-role="tile">
                                <img src="http://handsontek.net/demoimages/tiles/twitter1.png" class="img-responsive" />
                            </a>
                            
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/twitter2.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile2" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/hot.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/hot2.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/hot3.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile3" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/weather2.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/weather.png" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile4" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/facebook3.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/facebook2.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile5" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/neews.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/neews2.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile6" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/skype.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/skype2.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-8">
            <div id="tile7" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/gallery.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/gallery2.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/gallery3.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile8" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/music.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/music2.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-xs-4">
            <div id="tile9" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="http://handsontek.net/demoimages/tiles/calendar.png" class="img-responsive" />
                        </div>
                        <div class="item">
                            <img src="http://handsontek.net/demoimages/tiles/calendar2.png" class="img-responsive" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4 col-xs-8">
            <div id="tile10" class="tile">

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3 class="tilecaption"><i class="fa fa-child fa-4x"></i></h3>
                        </div>
                        <div class="item">
                            <h3 class="tilecaption">Customize your tiles</h3>
                        </div>
                        <div class="item">
                            <h3 class="tilecaption">Text, Icons, Images</h3>
                        </div>
                        <div class="item">
                            <h3 class="tilecaption">Combine them and create your metro style</h3>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
 </div>
@* Phản hồi Sale *@
<div id="feedback-main"  ng-app="myApp" ng-controller="FeedBackCtrl">
    <div id="feedback-div">
        <form  class="form" id="feedback-form1" name="form1" enctype="multipart/form-data">
            <input type="hidden" id="nhanvienphanhoi" value="@Session["USERNAME"]" />
            
            <p class="text">
                <textarea id="noidungphanhoi" name="noidungphanhoi" type="text" placeholder="Nội dung phản hồi"></textarea>
            </p>
            <script>
                CKEDITOR.replace('noidungphanhoi', {
                    height: 250,
                });
            </script>

            <div class="feedback-submit">
                <input type="button" value="SEND" id="feedback-button-blue" ng-click="Save()"/>
                <div class="feedback-ease"></div>
            </div>
        </form>
    </div>
</div>

<button id="popup" class="feedback-button" onclick="toggle_visibility()">Feedback</button>
<script>
    function toggle_visibility() {
        var e = document.getElementById('feedback-main');
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>

