
@model IEnumerable<ERP.Web.Models.Database.XL_DANG_KY_PHE_DUYET>

@{
    ViewBag.Title = "Index";
}

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/self-writing/css/Donhangdukien.css" rel="stylesheet" />
<script src="~/Content/self-writing/js/Services/YeuCauHoiGiaService.js"></script>
<script src="~/Content/self-writing/js/Controllers/YeuCauHoiGiaCtrl.js"></script>
<script src="~/Content/self-writing/js/Services/TonCacNoiService.js"></script>
<script src="~/Content/self-writing/js/Controllers/TonCacNoiCtrl.js"></script>
<div class="panel-heading title">Bạn đang ở mục check tồn kho</div>
<br />
<div ng-app="myApp"  ng-controller="TonCacNoiCtrl" >
    <div class="content">
        <input type="hidden" name="macongty" id="macongty" value="@Session["MA_CONG_TY"]">
        <input type="hidden" name="macongty" id="username" value="@Session["USERNAME"]">
        <!--Tìm Kiếm Hàng Hóa-->
        <div class="tab-pane fade in" style="border:1px solid #ddd">
            
            <div class="col-md-12 content-group" >
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover ">
                        <tr>
                            <td colspan="15" class="text-center">
                                <input type="text" style="width: 100%" class="form-control" placeholder="Nhập mã hàng chuẩn tại đây" ng-model="search_text">
                            </td>
                                <td colspan="4" class="text-left"><button type="button" style="border-radius: 5px" class="btn btn-info" ng-model="find" ng-click="datatonkho(search_text)">Tìm kiếm</button></td>
                        </tr>
                            <tr class="bg-primary-300">
                                <th style="width:15%" class="text-center">Mã chuẩn</th>
                                <th style="width:15%" class="text-center">Thông số</th>
                                <th style="width:5%" class="text-center">Hãng/Xuất xứ</th>
                                <th style="width:3%" class="text-center">ĐVT</th>
                                <th style="width:10%" class="text-center">Giá List</th>
                                <th style="width:5%" class="text-center">Discontinue <br />Mã chuyển đổi</th>
                                <th style="width:3%" class="text-center">Tồn T2</th>
                                <th style="width:3%" class="text-center">Tồn T3</th>
                                <th style="width:3%" class="text-center">Tồn T4</th>
                                <th style="width:3%" class="text-center">Đang giữ</th>
                                <th style="width:3%" class="text-center">KG đi</th>
                                <th style="width:3%" class="text-center">KG đến</th>
                                <th style="width:3%" class="text-center">Đang về</th>
                                <th style="width:3%" class="text-center">Tồn ĐN</th>
                                <th style="width:3%" class="text-center">Tồn HCM</th>
                                <th style="width:3%" class="text-center">Tồn HP</th>
                                <th style="width:3%" class="text-center">Tồn Hãng</th>
                                <th colspan="2" style="width:8%" class="text-center"></th>
                            </tr>
                        <tbody>
                            <tr ng-repeat="item in listtonkho" style="overflow: scroll;">

                                <td class="text-left">
                                    <div>
                                        {{item.MA_CHUAN }}<br />
                                        {{item.TEN_HANG }}
                                    </div>
                                </td>
                                <td class="text-left">
                                    {{item.THONG_SO }}
                                </td>
                                <td class="text-center">
                                    {{item.MA_NHOM_HANG }}<br /> {{item.XUAT_XU }}
                                   
                                </td>
                                <td class="text-center">
                                    <div>
                                        {{item.DVT }}
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div>
                                        {{item.GIA_LIST | currency:'':0}} vnd
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <input type="checkbox" ng-model="item.DISCONTINUE"><br />
                                        {{item.MA_CHUYEN_DOI }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.HL_TANG_2 }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.HL_TANG_3 }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.HL_TANG_4 }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.DANG_GIU }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.KY_GUI_DI }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.KY_GUI_DEN }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.SL_DANG_VE }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.TON_DANANG }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.TON_HCM }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.TON_HAIPHONG }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{item.TON_TAI_HANG }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal" ng-click="edit(item)">Hỏi giá</button>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nhatky" ng-click="nhatkyhoihang(item.MA_HANG)">Lịch sử hỏi giá</button>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#comment" ng-click="edit(item)">New Comment</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--End tìm kiếm hàng hóa-->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Yêu cầu hỏi giá</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="padding-bottom: 20px">
                        <input type="hidden" id="salehienthoi" name="salehienthoi" value="@Session["USERNAME"]" />
                        <div class="col-md-5" style="margin-right: 20px;">
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Mã hàng</label>
                                <input type="text" class="form-control" ng-model="ton.MA_HANG">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Mã chuẩn</label>
                                <input type="text" class="form-control" ng-model="ton.MA_CHUAN">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Mã khách order</label>
                                <input type="text" class="form-control" ng-model="ton.MA_KHACH_ORDER">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Thông số</label>
                                <input type="text" class="form-control" ng-model="ton.THONG_SO">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Hãng</label>
                                <input type="text" class="form-control" ng-model="ton.MA_NHOM_HANG">
                            </div>

                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Số lượng</label>
                                <input type="text" class="form-control" ng-model="SO_LUONG">
                            </div>
                            <div class="row">
                                <label style="font-weight:bold; padding-top: 15px;">Ghi chú</label>
                                <input type="text" class="form-control" ng-model="GHI_CHU">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <center>
                        <button type="button" class="btn btn-default" ng-click="addYeuCau()"> Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>

        </div>
    </div>




    <!--Xem nhật ký hỏi hàng-->
    <div class="modal fade" id="nhatky" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nhật Ký Hỏi Hàng</h4>
                </div>

                <div class="modal-body">
                    <div class="col-md-12" style="padding-bottom: 20px; padding-top:30px;">
                       <table>
                           <tr>
                               <td style="width:10% ;padding: 5px;">Mã chuẩn</td>
                               <td style="width:10% ;padding: 5px;">Mã khách order</td>
                               <td style="width:5% ;padding: 5px;">SL</td>
                               <td style="width:10% ;padding: 5px;">NCC</td>
                               <td style="width:10% ;padding: 5px;">Giá</td>
                               <td style="width:15% ;padding: 5px;">TG cấp hàng</td>
                               <td style="width:5% ;padding: 5px;">Ngày hỏi giá</td>
                               <td style="width:10% ;padding: 5px;">Ghi chú</td>
                               <td style="width:10% ;padding: 5px;">Người xử lý</td>
                           </tr>
                           <tr ng-repeat="item in nkhoihang">
                               <td>{{item.MA_CHUAN}}</td>
                               <td>{{item.MA_KHACH_ORDER}}</td>
                               <td>{{item.SL}}</td>
                               <td>{{item.MA_NCC}}</td>
                               <td>{{item.GIA}}</td>
                               <td>{{item.THOI_GIAN_CAP_HANG}}</td>
                               <td>{{item.NGAY_HOI}}</td>
                               <td>{{item.GHI_CHU}}</td>
                               <td>{{item.HO_VA_TEN}}</td>
                           </tr>
                       </table>
                    </div>
                </div>

                <div class="panel-footer">
                    <center>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>

        </div>
    </div>
    <!---------------------------->
  
    <div class="modal fade" id="comment" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-md-12">
                        <label class="col-md-2">Nội dung</label>
                        <div class="col-sm-10">
                            <textarea id="newcomment" name="newcomment" class="form-control input-md"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="anmelden"></label>
                        <div class="col-md-8 addnew" style="text-align: left;margin-top: 30px;">
                            <button id="addnew" name="addnew" class="btn" ng-click="AddNewComment(item.MA_HANG)" data-dismiss="modal">Add New</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="exit" name="exit" class="btn" data-dismiss="modal">Exit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            CKEDITOR.replace('newcomment', {
                height: 150
            });
        </script>

    </div>
</div>


<script src="~/Content/download/angularjs/angular-ui-router.js"></script>




